@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/* There's where you would put your Google Fonts import */

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  color: #8A9B9C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

li {
  color: #8A9B9C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* page title */
h1 {
  color: #295A60;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 70px;
}

/* product title */
h2 {
  color: #295A60;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 46px;
}

/* nav band*/
h3 {
  color: #295A60;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 1px;
}

/* retailers */
h4 {
  color: #295A60;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* oz bottle */
h5 {
  color: #8A9B9C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 23px;
}

/* nav drop*/
h6 {
  color: #295A60;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* scents */
h7 {
  color: #C5C6C4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* explore */
h8 {
  color: #C5C6C4;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

button {
  text-transform: uppercase;
  background: none;
  background-color: white;
  box-shadow: none;
  border: 1.9px solid #8A9B9C;
  padding: 7px 15px;
  font-size: 14px;
  letter-spacing: .5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/*footer*/
h9 {
  color: #8A9B9C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/*quantity*/
h10 {
  color: #C5C6C4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}



.products-masthead {
  background-image: url("../assets/background_products_desktop.jpg");
  background-repeat: repeat;
  background-position: center;
  height: 405px;
}

.products-content {
  padding: 20px 100px;
}

.home-masthead {
  background-image: url("../assets/background_home_desktop.jpg");
  background-repeat: repeat;
  background-position: center;
  height: 405px;
}

.home-content {
  padding: 20px 100px;
}

.footer {
  width: 100%;
  border-top: 1px solid gray;
}

/* Responsive images base, put your images in a wrapper*/
img {
    display: block;
    width: 100%;
    height: auto;
}

/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

/*body {
  font-size: 16px; /* Base Size */
  /*font-family: "Source Sans Pro", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}*/*/

/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
